*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: white;
    line-height: 5rem;
    height: 5rem;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
}